


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: #F0F8FF;
   
}

.App svg 
{
    display: block;
}

.curve-1
{
    top: 220px;
    position: absolute;
    
}

.curve-2
{
    
    margin-top: 110px;
    
}

.panel
{
    background-color: white;
    width: 50%;
    height: 70%;
    z-index: 1;
    position: absolute;
    left: 340px;
    top: 138px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 70px 90px;
}

.img-c
{
    background-image: url("./images/img1.gif");
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    
}

.img-cc
{
    background-image: url("./images/img2.gif");
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto;
    
}

input
{
    background-color: #FFF;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	padding: 12px 15px;
	width: 70%;
    border-radius: 2px;
    border: none;
    
}

input:focus
{
   border: 1px solid rgba(63, 128, 224, 0.801);
   outline: none;
}

button
{
    width: 140px;
    height: 39.3px;
    appearance: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    background-color: #e25822 ;
    font-size: 80%;
    text-decoration: none;
    border: none;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}

button:hover
{
    cursor: pointer;
}

button:active
{
  cursor: pointer;
  transform: scale(.95);
}

.ress
{
    display: flex;
    justify-content: center;
}

h2
{
    color: rgb(104, 99, 99);
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 340px;
    width: 500px;
}

.head
{
    color: #1473aacb;
    margin-top: 20px;
    margin-left: 340px;
    width: 100px;
    padding-top: 20px;
}

.back
{
    color: rgba(129, 127, 127, 0.281);
    margin-left: 130px;
    margin-top: 110px;
    font-weight: lighter;
    
}

